@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Nova+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --image-border-radius: 11px;
    --main-box-bg-height: 100vh;
    --faq-boxes-hover-bg-color: rgb(78, 77, 77);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: auto;
    height: var(--main-box-bg-height);
    position: relative;
}

.main .box {
    height: var(--main-box-bg-height);
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
    padding-top: 15px;
}

nav img {
    width: 134px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    /* Calculated height */
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    gap: 23px;
    padding: 0 30px;
}

/* Immediate Child ">" */

.hero> :nth-child(1) {
    font-family: poppins;
    font-weight: bolder;
    font-size: 60px;
    max-width: 33vw;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.separation {
    margin-top: -15px;
    height: 7px;
    background-color: rgb(56, 52, 52);
}

.btn {
    background-color: white;
    border: none;
    font-weight: bold;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 6px 14px;
    border-radius: 4px;
    font-size: 13px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 13px 36px;
    font-size: 20px;
    border-radius: 4px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.main input {
    padding: 15px 150px 15px 11px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(211, 199, 199, 0.4);
    /* font-weight: bold; */
    font-size: 14px;
    color: white;
}

.container {
    color: white;
}

.movie-row {
    color: white;
    padding: 40px 20px;
}

.movie-row h2 {
    max-width: 64vw;
    margin: auto;
    padding: 33px 0px;
    font-size: 30px;
}

.movie-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-item {
    display: flex;
    gap: 45px;
    overflow-x: scroll;
    overflow-y: visible;
    max-width: 55vw;
    padding: 23px 0px;
}

.movie-item img {
    border-radius: var(--image-border-radius);
}

.container h2 {
    max-width: 63vw;
    margin: auto;
    font-size: 30px
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    height: 35vh;
    width: 15vw;
    margin: 34px 10px;
    border-radius: 10px;
}

.item1 h3 {
    max-width: 13vw;
    margin: 30px auto;
    font-size: 23px;
}

.item1 p {
    margin: 0px 13px;
}

.item2 h3 {
    max-width: 13vw;
    margin: 24px auto;
    font-size: 23px;
}

.item2 p {
    margin: 0px 13px;
}

.item3 h3 {
    max-width: 13vw;
    margin: 30px auto;
    font-size: 23px;
}

.item3 p {
    margin: 0px 13px;
}

.item4 h3 {
    max-width: 13vw;
    margin: 30px auto;
    font-size: 23px;
}

.item4 p {
    margin: 0px 13px;
}

.faq h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0px;
}

.faq {
    display: flex;
    flex-direction: column;
    max-width: 63vw;
    margin: auto;
}

.button {
    background-color: rgb(45, 45, 45);
    color: white;
    border: none;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 23px;
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    animation-duration: 3s;
}

.button svg {
    margin: 23px;
}

.faq-box1:hover {
    background-color: var(--faq-boxes-hover-bg-color);
}

.faq-box2:hover {
    background-color: var(--faq-boxes-hover-bg-color);
}

.faq-box3:hover {
    background-color: var(--faq-boxes-hover-bg-color);
}

.faq-box4:hover {
    background-color: var(--faq-boxes-hover-bg-color);
}

.faq-box5:hover {
    background-color: var(--faq-boxes-hover-bg-color);
}

.faq-box6:hover {
    background-color: var(--faq-boxes-hover-bg-color);
}


.footer {
    margin: 50px;
}

.footer p {
    color: white;
    text-align: center;
    margin: 22px 0px;
}

.footer-btns input {
    padding-right: 15vw;
}

.footer-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-btns button {
    background-color: red;
    color: white;
    padding: 13px 36px;
    font-size: 20px;
    border-radius: 4px;
    margin-left: 10px;
    border: none;
    font-weight: 700;
}

.container3 {
    padding-bottom: 50px;
}

.container3 p {
    max-width: 62vw;
    margin: 20px auto;
}

.container3 p a {
    color: gray;
}

.info {
    display: flex;
    justify-content: space-evenly;
    max-width: 85vw;
    margin: auto;
}

.info ul {
    list-style: none;
    color: gray;
    font-size: 14px;
}

.info ul li {
    margin: 10px 0px;
}

.info ul li a {
    color: gray;
}

.li1-box6 button {
    padding: 4px 25px;
    font-size: 15px;
    background-color: rgb(15 15 15);
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    margin: 34px 0px;
}

.li1-box7 {
    margin-bottom: 34px;
}

@media screen and (max-width: 890px) {

    .hero> :nth-child(1) {
        font-weight: 900;
        font-size: 40px;
        max-width: 50vw;
        text-align: center
    }

    .hero-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media screen and (max-width:760px) {

    .hero> :nth-child(1) {
        font-weight: 900;
        font-size: 30px;
        max-width: 80vw;
        text-align: center
    }

}